<div class="row mb-3 mt-5">
    <div class="col-md-12">
        <div class="card bg-dark text-white" style="border-color: transparent!important;background-color: transparent!important;">
          <img class="card-img" src="https://workstack.io/img/color-splash.jpg" width="100%">
          <div class="card-img-overlay hero">
            <h1 class="card-title mt-4 text-dark">WHAT IS <strong> COVID-19</strong> ?</h1>
            <div class="container">
             <div class="row mt-5">
                 <div class="col-md-6">
                    <div class="media  p-3"> 
                        <a class="d-flex">
                            <img src="https://image.flaticon.com/icons/svg/506/506890.svg" height="60" width="80" alt="">
                        </a>
                        <div class="media-body text-dark">
                           <p>
                               The name corona refers to a crown because these viruses have crown like spikes
                               on thier surface when viewed under an electron microscope.
                           </p>
                        </div>
                    </div> 
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-6"></div>
                 <div class="col-md-6">
                     <div class="media">
                         <div class="media-body text-dark   ">
                           <p>
                               Human coronaviruses are common thoughout the world. There are may different coronaviruses
                               identified in animals but only a small number of these can cause disease in humans.
                           </p>
                         </div>
                         <a class="d-flex" href="#">
                             <img  src="https://image.flaticon.com/icons/svg/2718/2718069.svg" width="60" height="80" alt="">
                         </a>
                     </div>
                 </div>
             </div>
             <div class="row">
                <div class="col-md-6">
                    <div class="media  p-3"> 
                    
                        <div class="media-body text-dark">
                           <p>
                              Some coronaviruses such as 229E, NL69, OC43 and 
                              HUKU1 are common causes of illness,
                              including respiratory illness, in humans 
                              throughtout the world. Sometimes coronaviruses infecting animals can
                              evolve to cause disease in humans and become a new (novel)
                              cornoavirus for humans.
                           </p>
                        </div>
                    </div> 
                    <div class="media  p-3"> 
                        <a class="d-flex">
                            <img src="https://image.flaticon.com/icons/svg/2741/2741128.svg" height="60" width="80" alt="">
                        </a>
                        <div class="media-body text-dark">
                           <p>
                               The name corona refers to a crown because these viruses have crown like spikes
                               on thier surface when viewed under an electron microscope.
                           </p>
                        </div>
                    </div> 
                 </div>

                 <div class="col-md-6">
                     <div class="card bg-transparent text-white" style="border-color: transparent;">
                       <img class="card-img" src="https://pluspng.com/img-png/free-png-sick-boy-sick-in-bed-with-the-flu-royalty-free-vector-clip-art-illustration-445.png" height="350px" alt="">
                     </div>
                 </div>
             </div>
            </div>
          </div>
        </div>
    </div>
</div>
