<div class="card xcard text-white mt-5 ">
  <img class="card-img" src="https://workstack.io/img/color-splash.jpg" style="transform: rotate(180deg);" alt="">
  <div class="card-img-overlay" style="text-align: center;">
    <h1 class="card-title text-dark mt-4 " style="margin-top: 13%!important">HELPFUL VIDEOS ON <strong>COVID-19</strong></h1>
    <div class="container">
      <div class="row mt-5">
          <div class="col-md-4">
            <div class="card p-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1APwq1df6Mw?rel=0" allowfullscreen></iframe>
                  </div>
                <div class="card-body">
                    <h4 class="card-title">How to protect yourself against COVID-19</h4>
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card p-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oGruT7Fd54E?rel=0" allowfullscreen></iframe>
                  </div>
                <div class="card-body">
                    <h4 class="card-title">Symptoms of Coronavirus Disease 2019</h4>
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card p-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BtN-goy9VOY?rel=0" allowfullscreen></iframe>
                  </div>
                <div class="card-body">
                    <h4 class="card-title">The Coronavirus Explained</h4>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>