<div class="media  mt-4 resize x" > 
    <a class="d-flex">
        <img src="https://media0.giphy.com/media/KZxeKkHp0zmyaD5a9u/source.gif" height="50" width="50" alt="">
    </a>
    <div class="media-body text-dark" style="text-align: start!important;">
      <h1> COVID-19 <strong style="color: #e94235;"> SYMPTOMS</strong></h1>
    </div>
    
</div>
  

<div class="row mt-5">
   
    <div class="card text-white" style="border-color: transparent;">
      <img class="card-img imgStuff" src="https://workstack.io/img/color-splash.jpg"  alt="">
      <div class="card-img-overlay">
        <div class="container">
       <div class="row py-2 mt-4 mb-4">
     

          <div class="col-lg-3">
            <div class="card">
                <img class="card-img-top" src="https://image.flaticon.com/icons/svg/2660/2660009.svg" width="150" height="150" alt="">
                <div class="card-body text-dark">
                    <h4 class="card-titl theFive">Cough</h4>
                </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
                <img class="card-img-top" src="https://image.flaticon.com/icons/svg/2750/2750262.svg " width="150" height="150" alt="">
                <div class="card-body text-dark">
                    <h4 class="card-titl theFive">FEVER</h4>
                </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
                <img class="card-img-top" src="https://image.flaticon.com/icons/svg/2750/2750351.svg" width="150" height="150" alt="">
                <div class="card-body text-dark">
                    <h4 class="card-titl theFive">Tiredness</h4>
                </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
                <img class="card-img-top" src="https://image.flaticon.com/icons/svg/1995/1995849.svg" width="150" height="150" alt="">
                <div class="card-body text-dark">
                    <h4 class="card-titl theFive">Difficulty breathing</h4>
                    <p class="card-text">(severe cases)</p>
                </div>
            </div>
          </div>
       </div>
    </div> 
      </div>
    </div>
