.col-lg-3 .card{
    background-color: transparent;
    padding: 3px;
    border-color: transparent;
}
.theFive{
    color: #e94235;
    text-shadow: 1px 1px black;
}

.card p{
    text-align: center;
  font-weight: 500;
}
strong{
    text-shadow: 2px 2px #1f421a;
    color: #62d152;
}

.card-body{
    text-align: center!important;
}

.imgStuff{
    max-height: 456px; 
      transform: rotate(180)!important; 
      transform: scaleX(1.5)
}
.x{
    margin-left: 32%!important;
   }

@media(max-width:1125px)
{
    .resize{
        margin-top: 20%!important;
    }
}

@media(max-width:990px)
{
    .resize{
        margin-top: 100%!important;
    }
}
@media(max-width:850px)
{
    .resize{
        margin-top: 150%!important;
    }
}
@media(max-width:766px)
{
    .resize{
        margin-top: 150%!important;
    }
}

@media(max-width:632px)
{
    .resize{
        margin-top: 185%!important;
    }
    .imgStuff{
        transform: scaleX(1)!important;
    }
}
@media(max-width:560px)
{
    .resize{
        margin-top: 200%!important;
    }
    .imgStuff{
        transform: scaleX(1)!important;
    }
    .x{
        margin-left: 15%!important;
    }
}
@media(max-width:500px)
{
    .resize{
        margin-top: 260%!important;
    }
    .imgStuff{
        transform: scaleX(1)!important;
        
    }
}
@media(max-width:480px)
{
    .resize{
        margin-top: 285%!important;
    }
}
@media(max-width:440px)
{
    .resize{
        margin-top: 280%!important;
    }
}
@media(max-width:400px)
{
    .resize{
        margin-top: 320%!important;
    }
    .x{
        margin-left: 5%!important;
    }
}
@media(max-width:380px)
{
    .resize{
        margin-top: 360%!important;
    }
}